body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(20, 20, 20),rgb(53, 53, 53)) ;
}

.buttons{
    margin-top:40 ;
    display:grid;
    gap: 15px;
    
}
.calBox{
    border: 2px solid rgb(138, 208, 255);
    height: 450px;
    width: 300px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 40, 50);
}

button{
    height: 35px;
    width: 55px;
    background-color: transparent;
    border: 2px,solid,transparent;
    color: white;
    box-shadow: 2px 3px 10px rgb(255, 255, 255);
    border-radius:20px;
    font-size: 20px;
    transition: 0.2 ease;
}

button:active{
    background-color: rgba(0, 255, 251, 0.36);
    color: black;
    box-shadow: 2px 3px 10px rgb(0, 255, 247);
    transform: scale(0.92);
    box-shadow: 0 0 5px cyan;
    transition:0.05s;
}

input{
    height: 50px;
    width: 250px;
    background:rgba(184, 255, 241, 0.059);
    border: 2px solid transparent;
    box-shadow:0px 0px 6px  rgb(141, 182, 161) ;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: end;
}

.operator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}

.firstRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}

.SecondRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}

.ThirdRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}

.ForthRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}

.op{
    box-shadow:0px 0px 6px  rgb(0, 255, 255) ;
    background-color: rgba(42, 161, 165, 0.273);
}

.equal{
    box-shadow:0px 0px 6px  rgb(0, 255, 255) ;
    background-color: rgba(42, 161, 165, 0.273);
}

#equal{
    box-shadow:0px 0px 6px  rgb(51, 255, 0) ;
    background-color: rgba(58, 165, 42, 0.725);
}

#clear{
    box-shadow:0px 0px 6px  rgb(255, 0, 0) ;
    background-color: rgba(255, 13, 13, 0.395);
}